//Main Color
$main: rgb(244, 74, 74);
$main-hover: color-mix(in srgb, $main 95%, black 5%);

//Element Background Colors Light Mode
$bg-light: rgb(255, 241, 219);
$bg-menu-light: color-mix(in srgb, $bg-light 90%, black 10%);
$bg-content-light: color-mix(in srgb, $bg-light 90%, white 10%);
$border-light: #d9cdba;
$selected-light: color-mix(in srgb, $bg-light 90%, black 10%);
$hover-light: color-mix(in srgb, $bg-light 95%, black 5%);

//Element Background Colors Dark Mode
$bg-dark: rgb(64, 59, 51);
$bg-menu-dark: color-mix(in srgb, $bg-dark 90%, black 10%);
$bg-content-dark: color-mix(in srgb, $bg-dark 90%, white 10%);
$border-dark: #524e47;
$selected-dark: color-mix(in srgb, $bg-dark 80%, black 20%);
$hover-dark: color-mix(in srgb, $bg-dark 95%, black 5%);

//Element properties
$height: 5rem;

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: $main; 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    cursor: grab;
    background: $main-hover; 
    border-radius: 10px;
}

@mixin content-template {
    background-color: $bg-content-light;
    width: 60%;
    margin: auto;
    min-height: 70vh;
    color: $main;
    padding: 2rem;
    font-size: 1.5rem;
    box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.2);
    border-left: 0.3rem solid $border-light;
    border-right: 0.3rem solid $border-light;
    section {
        text-align: center;
        width: fit-content;
        margin: auto;
        padding-bottom: 5rem;
        p {
            margin: 7.5px 0;
        }
        span {
            font-style: italic;
            margin-right: 5px;
        }
    }
}

* {margin: 0; text-decoration: none;}

body {
    background-color: $bg-light;
    font-family: Anton;
    height: 100vh;
}

.darkMode {
    background-color: $bg-dark;
    nav {
        background-color: $bg-menu-dark;
        border-color: $border-dark;
        a {
            &:hover{
                background-color: $selected-dark;
                border-bottom: 0.3rem solid $main;
            }
        }
        
        .selected {
            background-color: $selected-dark;
        }
    }
    footer {
        background-color: $bg-menu-dark;
        border-color: $border-dark;
    }
    .content-main, .content-games, .content-qna, .content-contact {
        background-color: $bg-content-dark;
        border-color: $border-dark;
    }
}

nav {
    width: 100%;
    background-color: $bg-menu-light;
    height: $height;
    border-bottom: 0.3rem solid $border-light;
    box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.2);
    display: flex;
    div {
        width: fit-content;
        margin: auto;
        .selected {
            background-color: $selected-light;
            border-bottom: 0.3rem solid $main;
        }
        div {
            font-family: anton;
            float: left;
            color: $main;
            height: $height;
            display: flex;
            flex-direction: column;
            justify-content: center;
            p {
                font-size: 1rem;
            }
            button {
                padding: 0;
                margin: 0;
                height: 2rem;
                background: none;
                width: 5rem;
                border-radius: 0.5rem;
                border: 0.3rem solid $main;
                .btn-knob {
                    border-radius: 0.2rem;
                    transition: 500ms;
                    height: 100%;
                    width: 2rem;
                    background-color: $main;
                }
            }
        }

        a {
            color: $main;
            float: left;
            font-size: 2rem;
            padding: 0 2rem;
            height: $height;
            p {
                line-height: $height;
            }
            &:hover{
                background-color: $selected-light;
                border-bottom: 0.3rem solid $main;
            }
        }
        .logo {
            padding: 0;
            img {
                height: 4rem;
                padding: 0.5rem 0.5rem;
            }
            &:hover {
                background: none;
                border: none
            }
        }
    }
}

.content-main {
    @include content-template;
}

.content-games {
    @include content-template;
        .game-cover {
            width: fit-content;
            margin-top: 550px;
            img {
                width: 80%; 
                border: 0.5rem solid $main;
            }
        }
}

.content-qna {
    @include content-template;
    section {
        display: grid;
        grid-template-columns: 60% 40%;
        width: 100%;
        span {
            font-style: italic;
            margin-right: 4px;
        }
        p {
            font-size: 30px;
            margin: 1rem;
            padding: 1rem;
        }
        .question {
            text-align: right;
            grid-column: 1;
            border-right: 0.3rem solid $main;
        }

        .answer {
            text-align: left;
            grid-column: 2;
            font-size: 1.35rem;
        }
    }
}

.content-contact {
    @include content-template;
    section {
        width: 60%;
        div {
            align-self: center;
            padding: 2rem;
            margin: 0.5rem;
            border-bottom: 0.4rem solid $main;
        }
        p {
            margin: 7.5px 0;
        }
    }
}

footer {
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
    width: 100%;
    height: $height;
    border-top: 0.3rem solid $border-light;
    text-align: center;
    background-color: $bg-menu-light;
    display: flex;
    div {
        width: fit-content;
        margin: auto;
        p {
            color: $main;
            font-size: 1rem;
        }
    }
}

@media (max-width: 1000px) {
    nav {
        div {
            height: 100%;
            div {
                height: 100%;
                width: 3.5rem;
                p {
                    height: 1rem;
                    font-size: 0.8rem;
                }
                button {
                    width: 3rem;
                    height: 1rem;
                    border: 0.15rem solid $main;
                    border-radius: 5px;
                    .btn-knob {
                        height: 100%;
                        width: 1.25rem;
                        border-radius: 1.5px;
                    }
                }
            }
        }
        height: 3rem;
        div a {
            height: 3rem;
            font-size: 0.9rem;
            padding: 0 0.35rem;
            margin: 0;
            img {
                display: none;
            }
            p {
                line-height: 3rem;
            }
        }
    }
    .content-main, .content-games, .content-qna, .content-contact {
        width: 100% !important;
        font-size: 1rem !important;
        padding: 0 !important;
    }
   
    .content-qna {
        width: 100%;
        section {
            grid-template-columns: 50% 4%;
        }
        p {
            font-size: 0.8rem !important;
            margin: 0rem;
            padding: 0rem;
        }
        .question {
            border-right: 0.3rem solid $main;
         
        }

        .answer {
            font-size: 1rem;
            padding: 0;
            margin: auto 0;
        }
    }
}
