::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: rgb(244, 74, 74);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: color-mix(in srgb, rgb(244, 74, 74) 95%, black 5%);
  border-radius: 10px;
}

* {
  margin: 0;
  text-decoration: none;
}

body {
  background-color: rgb(255, 241, 219);
  font-family: Anton;
  height: 100vh;
}

.darkMode {
  background-color: rgb(64, 59, 51);
}
.darkMode nav {
  background-color: color-mix(in srgb, rgb(64, 59, 51) 90%, black 10%);
  border-color: #524e47;
}
.darkMode nav a:hover {
  background-color: color-mix(in srgb, rgb(64, 59, 51) 80%, black 20%);
  border-bottom: 0.3rem solid rgb(244, 74, 74);
}
.darkMode nav .selected {
  background-color: color-mix(in srgb, rgb(64, 59, 51) 80%, black 20%);
}
.darkMode footer {
  background-color: color-mix(in srgb, rgb(64, 59, 51) 90%, black 10%);
  border-color: #524e47;
}
.darkMode .content-main, .darkMode .content-games, .darkMode .content-qna, .darkMode .content-contact {
  background-color: color-mix(in srgb, rgb(64, 59, 51) 90%, white 10%);
  border-color: #524e47;
}

nav {
  width: 100%;
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, black 10%);
  height: 5rem;
  border-bottom: 0.3rem solid #d9cdba;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.2);
  display: flex;
}
nav div {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
nav div .selected {
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, black 10%);
  border-bottom: 0.3rem solid rgb(244, 74, 74);
}
nav div div {
  font-family: anton;
  float: left;
  color: rgb(244, 74, 74);
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav div div p {
  font-size: 1rem;
}
nav div div button {
  padding: 0;
  margin: 0;
  height: 2rem;
  background: none;
  width: 5rem;
  border-radius: 0.5rem;
  border: 0.3rem solid rgb(244, 74, 74);
}
nav div div button .btn-knob {
  border-radius: 0.2rem;
  transition: 500ms;
  height: 100%;
  width: 2rem;
  background-color: rgb(244, 74, 74);
}
nav div a {
  color: rgb(244, 74, 74);
  float: left;
  font-size: 2rem;
  padding: 0 2rem;
  height: 5rem;
}
nav div a p {
  line-height: 5rem;
}
nav div a:hover {
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, black 10%);
  border-bottom: 0.3rem solid rgb(244, 74, 74);
}
nav div .logo {
  padding: 0;
}
nav div .logo img {
  height: 4rem;
  padding: 0.5rem 0.5rem;
}
nav div .logo:hover {
  background: none;
  border: none;
}

.content-main {
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, white 10%);
  width: 60%;
  margin: auto;
  min-height: 70vh;
  color: rgb(244, 74, 74);
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.2);
  border-left: 0.3rem solid #d9cdba;
  border-right: 0.3rem solid #d9cdba;
}
.content-main section {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-bottom: 5rem;
}
.content-main section p {
  margin: 7.5px 0;
}
.content-main section span {
  font-style: italic;
  margin-right: 5px;
}

.content-games {
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, white 10%);
  width: 60%;
  margin: auto;
  min-height: 70vh;
  color: rgb(244, 74, 74);
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.2);
  border-left: 0.3rem solid #d9cdba;
  border-right: 0.3rem solid #d9cdba;
}
.content-games section {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-bottom: 5rem;
}
.content-games section p {
  margin: 7.5px 0;
}
.content-games section span {
  font-style: italic;
  margin-right: 5px;
}
.content-games .game-cover {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 550px;
}
.content-games .game-cover img {
  width: 80%;
  border: 0.5rem solid rgb(244, 74, 74);
}

.content-qna {
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, white 10%);
  width: 60%;
  margin: auto;
  min-height: 70vh;
  color: rgb(244, 74, 74);
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.2);
  border-left: 0.3rem solid #d9cdba;
  border-right: 0.3rem solid #d9cdba;
}
.content-qna section {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-bottom: 5rem;
}
.content-qna section p {
  margin: 7.5px 0;
}
.content-qna section span {
  font-style: italic;
  margin-right: 5px;
}
.content-qna section {
  display: grid;
  grid-template-columns: 60% 40%;
  width: 100%;
}
.content-qna section span {
  font-style: italic;
  margin-right: 4px;
}
.content-qna section p {
  font-size: 30px;
  margin: 1rem;
  padding: 1rem;
}
.content-qna section .question {
  text-align: right;
  grid-column: 1;
  border-right: 0.3rem solid rgb(244, 74, 74);
}
.content-qna section .answer {
  text-align: left;
  grid-column: 2;
  font-size: 1.35rem;
}

.content-contact {
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, white 10%);
  width: 60%;
  margin: auto;
  min-height: 70vh;
  color: rgb(244, 74, 74);
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0rem 0rem 0.75rem rgba(0, 0, 0, 0.2);
  border-left: 0.3rem solid #d9cdba;
  border-right: 0.3rem solid #d9cdba;
}
.content-contact section {
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-bottom: 5rem;
}
.content-contact section p {
  margin: 7.5px 0;
}
.content-contact section span {
  font-style: italic;
  margin-right: 5px;
}
.content-contact section {
  width: 60%;
}
.content-contact section div {
  align-self: center;
  padding: 2rem;
  margin: 0.5rem;
  border-bottom: 0.4rem solid rgb(244, 74, 74);
}
.content-contact section p {
  margin: 7.5px 0;
}

footer {
  box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 5rem;
  border-top: 0.3rem solid #d9cdba;
  text-align: center;
  background-color: color-mix(in srgb, rgb(255, 241, 219) 90%, black 10%);
  display: flex;
}
footer div {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
footer div p {
  color: rgb(244, 74, 74);
  font-size: 1rem;
}

@media (max-width: 1000px) {
  nav {
    height: 3rem;
  }
  nav div {
    height: 100%;
  }
  nav div div {
    height: 100%;
    width: 3.5rem;
  }
  nav div div p {
    height: 1rem;
    font-size: 0.8rem;
  }
  nav div div button {
    width: 3rem;
    height: 1rem;
    border: 0.15rem solid rgb(244, 74, 74);
    border-radius: 5px;
  }
  nav div div button .btn-knob {
    height: 100%;
    width: 1.25rem;
    border-radius: 1.5px;
  }
  nav div a {
    height: 3rem;
    font-size: 0.9rem;
    padding: 0 0.35rem;
    margin: 0;
  }
  nav div a img {
    display: none;
  }
  nav div a p {
    line-height: 3rem;
  }
  .content-main, .content-games, .content-qna, .content-contact {
    width: 100% !important;
    font-size: 1rem !important;
    padding: 0 !important;
  }
  .content-qna {
    width: 100%;
  }
  .content-qna section {
    grid-template-columns: 50% 4%;
  }
  .content-qna p {
    font-size: 0.8rem !important;
    margin: 0rem;
    padding: 0rem;
  }
  .content-qna .question {
    border-right: 0.3rem solid rgb(244, 74, 74);
  }
  .content-qna .answer {
    font-size: 1rem;
    padding: 0;
    margin: auto 0;
  }
}/*# sourceMappingURL=style.css.map */
